:root {
    --white: white;
    --black: black;
    --green: rgb(188, 213, 97);
    --grey: rgb(50, 50, 50);
    --red: red;
}

* {
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    display: flex;
}

h1, h2, h3 {
    color: var(--white);
}

body a {
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    list-style: none;
}

.nav {
    margin-left: -50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    line-height: 200%;
    list-style: none;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hero {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.me {
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    border-radius: 50%;
}

.contactMe {
    color: var(--white);
    display: flex;
    justify-content: center;
    background-color: var(--black);
}

#strikethrough {
    text-decoration: line-through;
}
